@model PatientManagementSystem.Models.LabFiles

@{
    ViewBag.Title = "Details";
}

<h2>Patiant Lab File Path</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Visit.patient.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visit.patient.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)            
            
        </dd>
    </dl>
</div>